<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API client user</key>
	<string></string>
	<key>API client password</key>
	<string>test</string>
	<key>Visible region</key>
	<dict>
		<key>center.latitude</key>
		<integer>1</integer>
		<key>center.longitude</key>
		<integer>2</integer>
		<key>span.latitudeDelta</key>
		<integer>3</integer>
		<key>span.longitudeDelta</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
